<div class="row nav-sub-links">
    <div class="col d-flex justify-content-center align-items-center no-padding">
        <div class="nav-link">
            <a href="/products/abcafe" {{#if abcafe}}class="active"{{/if}}>ABCAFE</a>
        </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center no-padding">
        <div class="nav-link">
            <a href="/products/nora" {{#if nora}}class="active"{{/if}}>NORA</a>
        </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center no-padding">
        <div class="nav-link">
            <a href="/products/goldencoins" {{#if goldencoins}}class="active"{{/if}}>GOLDEN <span class="hide-sm-screen">COINS</span></a>
        </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center no-padding">
        <div class="nav-link">
            <a href="/products/meiwei" {{#if meiwei}}class="active"{{/if}}>MEI WEI</a>
        </div>
    </div>
</div>