<!--main content-->
<div class="main-content">
    <div class="about-featured-section featured-section">
        <div class="featured-section-content text-center">
            <h2>About Us</h2>
            <h5>Subtitle goes here</h5>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
    </div>
    
    <div class="container">
        <div class="row about-content">
            <div class="col-md-7 d-flex align-items-center">
                <div class="about-info">
                    <h4>What Does Our Company Do?</h4>
                    <p>But the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    <p>But the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    <br />
                    <h4>What Does Our Company Believe?</h4>
                    <p>But the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    <p>But the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    <br />
                </div>
            </div>
            <div class="col-md-5 d-flex align-items-center"><img src="/assets/img/about-pic.jpg"</div>
        </div>
    </div>
    

</div>
<!--main content-->

<div class="container">
    <div class="separator">
        <div class="row">
            <div class="col-md-3 col-6">
                <a href="/products/abcafe"><img src="/assets/img/brandlogo01.png"></a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/products/nora"><img src="/assets/img/brandlogo02.png"></a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/products/goldencoins"><img src="/assets/img/brandlogo03.png"></a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/products/meiwei"><img src="/assets/img/brandlogo04.png"></a>
            </div>
        </div>
    </div>
</div>