<!--main content-->
<div class="main-content">
    <div class="about-featured-section featured-section">
        <div class="featured-section-content text-center">
            <h2>Contact Us</h2>
            <h5>Subtitle goes here</h5>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="contact-form">
                    <h3>Quick Contact Form</h3>
                    <div class="contact-input"><input type="text" class="form-control" placeholder="Full Name"></div>
                    <div class="contact-input"><input type="text" class="form-control" placeholder="Email"></div>
                    <div class="contact-input"><input type="text" class="form-control" placeholder="Subject"></div>
                    <div class="contact-input"><textarea class="form-control" rows="5" placeholder="Message"></textarea></div>
                    <div class="d-flex justify-content-center"><button class="btn btn-main-sm">Submit</button><button class="btn btn-secondary">Cancel</button></div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row contact-info">
                    <div class="col-lg-12 col-6 contact-section">
                        <h4>Address</h4>
                        <p>Capital Foods International, Inc.</p>
                        <p>12814 Lakeland Road</p>
                        <p>Santa Fe Springs, Ca 90670</p>
                    </div>
                    <div class="col-lg-12 col-6 contact-section">
                        <h4>Support</h4>
                        <p>Phone: (562) 298-4440</p>
                        <p>Fax: (562) 298-4447</p>
                        <p>Email: support@capital.us</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

</div>
<!--main content-->

<div class="container">
    <div class="separator">
        <div class="row">
            <div class="col-md-3 col-6">
                <a href="/products/abcafe"><img src="/assets/img/brandlogo01.png"></a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/products/nora"><img src="/assets/img/brandlogo02.png"></a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/products/goldencoins"><img src="/assets/img/brandlogo03.png"></a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/products/meiwei"><img src="/assets/img/brandlogo04.png"></a>
            </div>
        </div>
    </div>
</div>