{{#section 'subMenu'}}
        {{> 'products-menu'}}
{{/section}}
<!--main content-->
<div class="main-content">

    <div class="products-featured-section featured-section">
        <div class="featured-section-content text-center">
            <h2>Nora Products</h2>
            <h5>Subtitle goes here</h5>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
    </div>

    
    <div class="product-listing-container d-flex flex-wrap justify-content-center">
        <div class="product-listing">
            <a href="#" data-toggle="modal" data-target="#nora-product-1">
                <div class="product-img">
                    <img src="/assets/img/nora01.png">
                </div>
            </a>
            <div class="product-description text-center">
                <div class="product-title">Chicken Porridge</div><br />
                <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#nora-product-1">Read More</a>
            </div>
        </div>
        <div class="product-listing">
            <a href="#" data-toggle="modal" data-target="#nora-product-2">
                <div class="product-img">
                    <img src="/assets/img/nora02.png">
                </div>
            </a>
            <div class="product-description text-center">
                <div class="product-title">Chocolate Porridge</div><br />
                <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#nora-product-2">Read More</a>
            </div>
        </div>
        <div class="product-listing">
            <a href="#" data-toggle="modal" data-target="#nora-product-2">
                <div class="product-img">
                    <img src="/assets/img/nora03.png">
                </div>
            </a>
            <div class="product-description text-center">
                <div class="product-title">Sweeet and Sour Sauce Mix</div><br />
                <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#abc-product-2">Read More</a>
            </div>
        </div>
        <div class="product-listing">
            <a href="#" data-toggle="modal" data-target="#abc-product-2">
                <div class="product-img">
                    <img src="/assets/img/nora04.png">
                </div>
            </a>
            
            <div class="product-description text-center">
                <div class="product-title">Sinigang sa Sampalok Mix With Gabi</div><br />
                <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#abc-product-2">Read More</a>
            </div>
        </div>
        <div class="product-listing">
            <a href="#" data-toggle="modal" data-target="#abc-product-2">
                <div class="product-img">
                    <img src="/assets/img/nora05.png">
                </div>
            </a>
            
            <div class="product-description text-center">
                <div class="product-title">Sinigang sa Sampalok Mix With Sili</div><br />
                <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#abc-product-2">Read More</a>
            </div>
        </div>
        <div class="product-listing">
            <a href="#" data-toggle="modal" data-target="#abc-product-2">
                <div class="product-img">
                    <img src="/assets/img/nora06.png">
                </div>
            </a>
            <div class="product-description text-center">
                <div class="product-title">Pork and Mushroom Soup Mix</div><br />
                <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#abc-product-2">Read More</a>
            </div>
        </div>
        <div class="product-listing">
            <a href="#" data-toggle="modal" data-target="#abc-product-2">
                <div class="product-img">
                    <img src="/assets/img/nora07.png">
                </div>
            </a>
            <div class="product-description text-center">
                <div class="product-title">Sinigang sa Kamias Mix</div><br />
                <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#abc-product-2">Read More</a>
            </div>
        </div>
        <div class="product-listing">
            <a href="#" data-toggle="modal" data-target="#abc-product-2">
                <div class="product-img">
                    <img src="/assets/img/nora08.png">
                </div>
            </a>
            <div class="product-description text-center">
                <div class="product-title">Sinigang sa Calamansi Mix</div><br />
                <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#abc-product-2">Read More</a>
            </div>
        </div>
        <div class="product-listing">
            <a href="#" data-toggle="modal" data-target="#abc-product-2">
                <div class="product-img">
                    <img src="/assets/img/nora09.png">
                </div>
            </a>
            <div class="product-description text-center">
                <div class="product-title">Nido Oriental Soup Mix</div><br />
                <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#abc-product-2">Read More</a>
            </div>
        </div>

    </div>
    
</div>
<!--main content-->

<div class="container">
    <div class="separator">
        <div class="row">
            <div class="col-md-3 col-6">
                <a href="/products/abcafe"><img src="/assets/img/brandlogo01.png"></a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/products/nora"><img src="/assets/img/brandlogo02.png"></a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/products/goldencoins"><img src="/assets/img/brandlogo03.png"></a>
            </div>
            <div class="col-md-3 col-6">
                <a href="/products/meiwei"><img src="/assets/img/brandlogo04.png"></a>
            </div>
        </div>
    </div>
</div>


<!--Modal-->
<div class="modal fade" id="nora-product-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Chicken Porridge</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="modal-img-container">
                <img src="/assets/img/nora01.png" >
            </div>

            <div class="modal-desc-container">
                <div class="product-title"><span>Name:</span> Chicken Porridge Arroz Caldo</div>
                <div class="product-code"><span>Code:</span>  #2212</div>
                <div class="product-brand"><span>Brand:</span> ABCafe</div>
                <div class="product-availabilty"><span>Availabilty:</span> Available</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!--Modal-->
<div class="modal fade" id="nora-product-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Chocolate Porridge</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="modal-img-container">
                <img src="/assets/img/nora02.png" >
            </div>

            <div class="modal-desc-container">
                <div class="product-title"><span>Name:</span> Chocolate Porridge Champorado</div>
                <div class="product-code"><span>Code:</span>  #2312</div>
                <div class="product-brand"><span>Brand:</span> ABCafe</div>
                <div class="product-availabilty"><span>Availabilty:</span> Available</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
<!-- Modal -->